.block1{
    width: 300px;
    height: 300px;
    background: lime;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.block2{
    width: 300px;
    height: 300px;
    background: aquamarine;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.block3{
    width: 300px;
    height: 300px;
    background: coral;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.block4{
    width: 300px;
    height: 300px;
    background: deeppink;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}